<ion-header>
      <ion-navbar color="dark">
            <ion-title>
                  CardWallet
            </ion-title>
      </ion-navbar>
</ion-header>
<ion-scroll no-padding>
      <unauth *ngIf="cardsLoaded && cards?.length == 0 && authenticated" [text]="'No cards available.'"></unauth>
      <unauth *ngIf="!authenticated" [text]="'User not authenticated.'"></unauth>
      <cards *ngIf="cardsLoaded && cards?.length > 0 && authenticated" [cards]="cards"></cards>
</ion-scroll>
<shutter *ngIf="!authenticated" [type]="'authenticate'" (tap)="authenticate()"></shutter>
<shutter *ngIf="authenticated" [type]="'scan'" (tap)="scan()"></shutter>
