<ion-header>
      <ion-navbar color="dark">
            <ion-title>
                  CardWallet
            </ion-title>
      </ion-navbar>
</ion-header>
<ion-content no-padding>
      <unauth *ngIf="(!cards || cards?.length == 0)&& authenticated" [text]="'No cards available.'"></unauth>
      <unauth *ngIf="!authenticated" [text]="'User not authenticated.'"></unauth>
      <cards *ngIf="cards && cards?.length > 0" [cards]="cards"></cards>
</ion-content>
<shutter (tap)="buttonAction()"></shutter>
