<ion-slides
      centeredSlides="false"
      direction="vertical"
      effect="coverflow"
      loop="true"
      spaceBetween="0"
      speed="400"
      zoom="true">
      <ion-slide *ngFor="let card of cards">
            <card
                  [cardholderName]="card.cardholderName"
                  [cardNumber]="card.cardNumber"
                  [redactedCardNumber]="card.redactedCardNumber"
                  [expiryMonth]="card.expiryMonth"
                  [expiryYear]="card.expiryYear"
                  [cvv]="card.cvv"
                  [postalCode]="card.postalCode"
                  [cardType]="card.cardType"
                  [index]="card.index"
            ></card>
      </ion-slide>
</ion-slides>
