shutter {
      ion-footer {
            margin-bottom: 2vh;
            button {
                  border-radius: 50% !important;
                  width: 10vh !important;
                  height: 10vh !important;
                  font-size: 4vh !important;
            }
      }
}
